<a href="https://colab.research.google.com/github/viniciusrpb/cic0269_natural_language_processing/blob/main/cap04_text_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capítulo 4 - Pré-Processamento de Textos

Neste capítulo, estudaremos abordagens para pré-processar os textos visando analisar o texto e efetuar alterações de modo a manter palavras representativas à semântica e ao discurso.

Assim, palavras como artigos e preposições podem ser removidas

## 4.1. Dicas sobre o Google Colab

Primeiramente, vamos instalar a biblioteca nltk para o uso de stemmers e lematizadores:

In [ ]:
!pip install nltk

Agora vamos importar as bibliotecas necessárias para utilizarmos as funções e métodos para pré-processamento de textos utilizando NLTK:

In [ ]:
import pandas as pd
import re
import nltk
from nltk.stem.porter import *
from nltk.stem import WordNetLemmatizer

Faz o download da lista de stopwords

In [ ]:
nltk.download('stopwords')

Podemos carregar arquivos diretamente do Google Drive de acordo com os comandos abaixo:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importando arquivo csv que estão no Drive para o ambiente Colab

In [ ]:
df = pd.read_csv('twitter-2013train-A.txt',sep='\t',encoding='utf-8',names=['id','polarity','text'])

In [ ]:
df

,id,polarity,text
0,264183816548130816,positive,Gas by my house hit $3.39!!!! I\u2019m going t...
1,263405084770172928,negative,Theo Walcott is still shit\u002c watch Rafa an...
2,262163168678248449,negative,its not that I\u2019m a GSP fan\u002c i just h...
3,264249301910310912,negative,Iranian general says Israel\u2019s Iron Dome c...
4,262682041215234048,neutral,Tehran\u002c Mon Amour: Obama Tried to Establi...
...,...,...,...
9679,103158179306807296,positive,RT @MNFootNg It's monday and Monday Night Foot...
9680,103157324096618497,positive,All I know is the road for that Lomardi start ...
9681,100259220338905089,neutral,"All Blue and White fam, we r meeting at Golden..."
9682,104230318525001729,positive,@DariusButler28 Have a great game agaist Tam...
9683,100461938533863424,negative,I'm pisseeedddd that I missed Kid Cudi's show ...

Outra abordagem se trata de ler diretamente os arquivos diretamente dos repositórios do Github. Lembre-se que colocar a URL do RAW file do dataset:

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/viniciusrpb/cic0269_natural_language_processing/main/corpus_tweets/twitter-2013train-A.txt',sep='\t',encoding='utf-8',names=['id','polarity','text'])

In [ ]:
df

,id,polarity,text
0,264183816548130816,positive,Gas by my house hit $3.39!!!! I\u2019m going t...
1,263405084770172928,negative,Theo Walcott is still shit\u002c watch Rafa an...
2,262163168678248449,negative,its not that I\u2019m a GSP fan\u002c i just h...
3,264249301910310912,negative,Iranian general says Israel\u2019s Iron Dome c...
4,262682041215234048,neutral,Tehran\u002c Mon Amour: Obama Tried to Establi...
...,...,...,...
9679,103158179306807296,positive,RT @MNFootNg It's monday and Monday Night Foot...
9680,103157324096618497,positive,All I know is the road for that Lomardi start ...
9681,100259220338905089,neutral,"All Blue and White fam, we r meeting at Golden..."
9682,104230318525001729,positive,@DariusButler28 Have a great game agaist Tam...
9683,100461938533863424,negative,I'm pisseeedddd that I missed Kid Cudi's show ...

Como estamos interessados em analisar apenas os textos, vamos selecionar apenas a coluna 'text':

In [ ]:
text_df = df['text']

In [ ]:
text_df

0       Gas by my house hit $3.39!!!! I\u2019m going t...
1       Theo Walcott is still shit\u002c watch Rafa an...
2       its not that I\u2019m a GSP fan\u002c i just h...
3       Iranian general says Israel\u2019s Iron Dome c...
4       Tehran\u002c Mon Amour: Obama Tried to Establi...
                              ...
9679    RT @MNFootNg It's monday and Monday Night Foot...
9680    All I know is the road for that Lomardi start ...
9681    All Blue and White fam, we r meeting at Golden...
9682    @DariusButler28   Have a great game agaist Tam...
9683    I'm pisseeedddd that I missed Kid Cudi's show ...
Name: text, Length: 9684, dtype: object

Para pegar instâncias específicas ou colunas específicas do DataFrame, pode-se utilizar o iloc https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [ ]:
sentence = text_df[0]
sentence = sentence+" "+text_df[1]

In [ ]:
sentence

'Gas by my house hit $3.39!!!! I\\u2019m going to Chapel Hill on Sat. :) Theo Walcott is still shit\\u002c watch Rafa and Johnny deal with him on Saturday.'

Tokenização: quebrar uma sentença em palavras

In [ ]:
sentence = sentence.lower()

In [ ]:
sentence

'gas by my house hit $3.39!!!! i\\u2019m going to chapel hill on sat. :) theo walcott is still shit\\u002c watch rafa and johnny deal with him on saturday.'

Podemos também utilizar expressões regulares em Python para quebrar a sentença conforme alguns padrões estejam presentes.

Na regra abaixo, o regex indica que na ocorrência de símbolos de pontuação constantemente presentes em tweets, como hashtags, @s, pontos de exclamação, vírgulas e outros, sejam considerados na quebra da sentença em palavras, mas que não sejam considerados como palavras individuais:

In [ ]:
tokens = re.split(r'[\s!$@#,.;]+',sentence)

In [ ]:
tokens

['gas',
 'by',
 'my',
 'house',
 'hit',
 '3.39',
 'i\\u2019m',
 'going',
 'to',
 'chapel',
 'hill',
 'on',
 'sat.',
 ':)',
 'theo',
 'walcott',
 'is',
 'still',
 'shit\\u002c',
 'watch',
 'rafa',
 'and',
 'johnny',
 'deal',
 'with',
 'him',
 'on',
 'saturday.']

Remoção de stopwords

In [ ]:
stop_list = ['and','or','the','is','on','in']

In [ ]:
novel_tokens = []
for t in tokens:
    if t not in stop_list:
        novel_tokens.append(t)

In [ ]:
novel_tokens

['gas',
 'by',
 'my',
 'house',
 'hit',
 '3',
 '39',
 'i\\u2019m',
 'going',
 'to',
 'chapel',
 'hill',
 'sat',
 ':)',
 'theo',
 'walcott',
 'still',
 'shit\\u002c',
 'watch',
 'rafa',
 'johnny',
 'deal',
 'with',
 'him',
 'saturday',
 '']

In [ ]:
stop_list_nltk = nltk.corpus.stopwords.words('english')

In [ ]:
stop_list_nltk

In [ ]:

stemmer = PorterStemmer()

In [ ]:
tokens_final = [stemmer.stem(t) for t in novel_tokens]

In [ ]:
tokens_final

In [ ]:
novel_tokens

In [ ]:
striing = "Ola<p> eu sou </p>"

token = re.sub(r'<p>','',striing)
print(token)

Ola eu sou </p>

In [ ]:
mapping = {}
mapping[':)'] = 'happy'