<a href="https://colab.research.google.com/github/viniciusrpb/cic0269_natural_language_processing/blob/main/cap05_extracao_caracteristicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import re
import numpy as np
import nltk

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/viniciusrpb/cic0269_natural_language_processing/main/corpus_tweets/twitter-2013train-A.txt',sep='\t',encoding='utf-8',names=['id','polarity','text'])

In [7]:
df

,id,polarity,text
0,264183816548130816,positive,Gas by my house hit $3.39!!!! I\u2019m going t...
1,263405084770172928,negative,Theo Walcott is still shit\u002c watch Rafa an...
2,262163168678248449,negative,its not that I\u2019m a GSP fan\u002c i just h...
3,264249301910310912,negative,Iranian general says Israel\u2019s Iron Dome c...
4,262682041215234048,neutral,Tehran\u002c Mon Amour: Obama Tried to Establi...
...,...,...,...
9679,103158179306807296,positive,RT @MNFootNg It's monday and Monday Night Foot...
9680,103157324096618497,positive,All I know is the road for that Lomardi start ...
9681,100259220338905089,neutral,"All Blue and White fam, we r meeting at Golden..."
9682,104230318525001729,positive,@DariusButler28 Have a great game agaist Tam...
9683,100461938533863424,negative,I'm pisseeedddd that I missed Kid Cudi's show ...

In [8]:
tweets = df['text']

In [21]:
def preprocessing(text):
    t = re.sub(r'#','',text)
    t = t.lower()
    t = re.sub(r'[\,\.\'\$\!]+',' ',t)
    t = re.sub(r':\)','happy',t)
    return t

In [24]:
pre_proc = []
corpus = ""
for tweet in tweets:
    ptweet = preprocessing(tweet)
    pre_proc.append(ptweet)
    corpus+=ptweet+" "

In [ ]:
corpus

In [29]:
vocab = sorted(set(corpus.split()))
len(vocab)

29676

Um corpus mais fÃ¡cil para o entendimento

In [31]:
corpus = []
corpus.append('Batatinha quando nasce esparrama pelo chÃ£o')
corpus.append('A pior experiÃªncia da minha vida')
corpus.append('Quero me dinheiro de volta')
corpus.append('A experiÃªncia do dinheiro esparrama minha vida')
corpus.append('Acai Ã© a melhor coisa da vida')

In [33]:
frase = " ".join(corpus)

In [39]:
frase = frase.lower()
frase

'batatinha quando nasce esparrama pelo chÃ£o a pior experiÃªncia da minha vida quero me dinheiro de volta a experiÃªncia do dinheiro esparrama minha vida acai Ã© a melhor coisa da vida'

In [40]:
tokens = frase.split()
vocab = sorted(set(tokens))

In [41]:
vocab

['a',
 'acai',
 'batatinha',
 'chÃ£o',
 'coisa',
 'da',
 'de',
 'dinheiro',
 'do',
 'esparrama',
 'experiÃªncia',
 'me',
 'melhor',
 'minha',
 'nasce',
 'pelo',
 'pior',
 'quando',
 'quero',
 'vida',
 'volta',
 'Ã©']

In [43]:
bow_binario = {}

for i,doc in enumerate(corpus):
    bow_binario['sentenca {}'.format(i+1)] = dict()
    for word in doc.split():
        bow_binario['sentenca {}'.format(i+1)][word] = 1

In [44]:
bow_binario

{'sentenca 0': {'Batatinha': 1,
  'chÃ£o': 1,
  'esparrama': 1,
  'nasce': 1,
  'pelo': 1,
  'quando': 1},
 'sentenca 1': {'A': 1,
  'da': 1,
  'experiÃªncia': 1,
  'minha': 1,
  'pior': 1,
  'vida': 1},
 'sentenca 2': {'Quero': 1, 'de': 1, 'dinheiro': 1, 'me': 1, 'volta': 1},
 'sentenca 3': {'A': 1,
  'dinheiro': 1,
  'do': 1,
  'esparrama': 1,
  'experiÃªncia': 1,
  'minha': 1,
  'vida': 1},
 'sentenca 4': {'Acai': 1,
  'a': 1,
  'coisa': 1,
  'da': 1,
  'melhor': 1,
  'vida': 1,
  'Ã©': 1}}

In [49]:
pd.DataFrame().from_records(bow_binario).fillna(0).T.astype(int)

,Batatinha,quando,nasce,esparrama,pelo,chÃ£o,A,pior,experiÃªncia,da,...,me,dinheiro,de,volta,do,Acai,Ã©,a,melhor,coisa
sentenca 0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sentenca 1,0,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
sentenca 2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0
sentenca 3,0,0,0,1,0,0,1,0,1,0,...,0,1,0,0,1,0,0,0,0,0
sentenca 4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,1,1,1,1